<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/index.css" />
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FOTD Bot - Fact</title>
  </head>
  <body id="body">
    <div class="fact">
      {{FACT}}
    </div>

    <script defer>
      particlesJS.load("body", "/fact/particles.json");
    </script>
  </body>
</html>
