<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{TITLE}}</title>
    <style>
        .footer {
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>

<body>
    <h1>Fact of the day for {{DATE}}</h1>
    <p>Hello {{NAME}}, here is your daily random little bit of information that may or may not be true.</p>
    <p><strong>FOTD:</strong> ❝{{FOTD}}❞</p>

    <br>
    <div class="footer">
        <p>FOTD Bot V2.1.0 · Made by <a href="https://connorcode.com">Connor Slade</a> · <a
                href="https://github.com/Basicprogrammer10/FOTD-Bot">Github</a> · <a
                href="https://connorcode.com/other/nicetry">Unsubscribe</a></p>
    </div>
</body>

</html>