<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unsub Request :/</title>
    <style>
        .footer {
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>

<body>
    <h1>Unsubscribe Request</h1>
    <p>Click <a href="{{URL}}">here</a> to Unsubscribe.</p>
    <p>If this was not done by you, ignore this email.</p>

    <br>
    <div class="footer">
        <p>FOTD Bot V2.1.0 · Made by <a href="https://connorcode.com">Connor Slade</a> · <a
                href="https://github.com/Basicprogrammer10/FOTD-Bot">Github</a></p>
    </div>
</body>

</html>